* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

.container {
	display: flex;  /* Activa Flexbox */
	justify-content: center;  /* Centra los formularios en la página */
	gap: 20px;  /* Espacio entre los formularios */
	margin-top: 50px;
}

form {
	flex: 1;
	max-width: 400px;
	padding: 30px;
	background-color: #ededed;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}